<div>
    <div class="row" ng-controller="Sovereignties as vm">
        <div class="col-md-6">
            <span class="fa fa-spin fa-spinner" ng-show="vm.isLoading"></span>
            <!--<select>
                <option ng-repeat="name in countries">{{name}}</option>
            </select>-->
            <div id="sovereignties">

            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label>Scale</label>
                        <input class="form-control" ng-model="vm.scale" />
                    </div>
                    <div class="form-group">
                        <label>Translate x</label>
                        <input class="form-control" ng-model="vm.translateX" />
                    </div>
                    <div class="form-group">
                        <label>Translate y</label>
                        <input class="form-control" ng-model="vm.translateY" />
                    </div>
                    <button class="btn btn-sm" ng-click="vm.update()">Update</button>
                    <button class="btn btn-sm" ng-click="vm.reset()">Reset</button>
                    <!--<button class="btn btn-sm" ng-click="vm.locate()">Find me</button>-->
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="well">
                <span>{{vm.selectedCountry}}</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <div ng-repeat="user in vm.userList">
                    {{user.name}} - {{user.country}} ({{user.latitude}}, {{user.longitude}})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-include src="'app/controls/addUser.html'"></ng-include>
        </div>
    </div>
</div>